<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sociallogin.sociallogin">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true"
                 android:name=".presentation.SocialLoginApp"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

        <!-- Activity -->
        <activity android:name=".presentation.loginselector.LoginSelectorActivity"
                    android:label="@string/login_selector_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.sociallogin.sociallogin.presentation.google.GoogleLoginActivity"
                android:label="@string/sign_in_with_google"/>

        <activity android:name=".presentation.twitter.TwitterLoginActivity"
                  android:label="@string/sign_in_with_twitter"/>

    </application>

</manifest>
